<div class="row">
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of userData" [routerLink]="['/users',user.userId]"
        [class.active]="user.userId == activeUserId" (click)="activeUserId = user.userId">
        {{user.userName}} {{user.userId}}
      </li>
    </ul>
  </div>
  <div class="col-sm-8">
    <!-- <app-user></app-user> -->
    <router-outlet></router-outlet>
  </div>
</div>

<hr>

<!-- <a routerLink="/products" class="btn btn-link">
  Go to Product
</a>
<button class="btn btn-primary" routerLink="/products" (click)="onGoToProducts()">
  Go to Products
</button> -->

<!-- Absolute => When we use / in path => baseUrl
                baseurl/pathvalue
                localhost:4200/products
     and
     
     Relavtive => When we don't use / in path => urrentUrl
                  currentUrl/pathName
                localhost:4200/user/products
-->